@font-face {
    font-family: 'handwriting';
    src: url(fonts/camron-handwriting-uni-ball-signo207-regular.otf) format('opentype'),
         url(fonts/camron-handwriting-uni-ball-signo207-regular.ttf) format('truetype');
}
@font-face {
    font-family: 'handwriting-x167';
    src: url(fonts/camron-handwriting-uni-ball-signo207-x167-regular.otf) format('opentype'),
         url(fonts/camron-handwriting-uni-ball-signo207-x167-regular.ttf) format('truetype');
} 
body {
    height: 100%;
    font-size: 100%;
    font-family: 'handwriting-x167', sans-serif;
    font-size: 1em;
}

/* GRID Container */
main {
    display: grid;
    height: 100%;
    grid-template-areas:
        "thetop     thetop      thetop"
        "leftside   stuff     rightside"
        "dabottom   dabottom    dabottom";

/*    grid-template-rows: [line1row] minimax (100px, auto) [line2row] auto [line3row] minimax (100px,auto) [rowend];*/
    
    grid-template-rows: 100px auto 100px;
    
    grid-template-columns: [line1col] 2fr [line2col] 4fr [line3col] 3fr [colend];
    
    align-items: center;
    justify-items: left;
}

/* GRID Items */
header {
    grid-area: thetop;}

aside {
    grid-area: leftside;}

article {
    grid-area: stuff;}

nav {
    grid-area: rightside;}

footer {
    grid-area: dabottom;}


/*
#centerlane {
    margin: auto;
    width: 50%;
}
*/
/*
#playlist {
    margin: auto;
    width: 50%;
}
*/

p {
}